#!/bin/bash

# Install all the hashicorp tools
sudo yum install -y yum-utils
sudo yum-config-manager --add-repo https://rpm.releases.hashicorp.com/RHEL/hashicorp.repo
sudo yum -y install vault consul jq curl

# TO DO
# Bootstrap consul and vault connections

